
$mainFont: "Noto Sans CIK JP", "メイリオ", Meiryo, sans-serif;

$subFont: "ITC Avant Garde Gothic", sans-serif;

/* Header,About,News background-color */
$gray: #f2f3f7;
/* Other background-color */
$white: #ffffff;
/* Footer, background-color */
$black: #333333;
/* button background-color */
$red: #d40042;

/* news-mark color */
$n1: #e5a31c;
$n2: #d4004e;
$n3: #5fa153;
$n4: #50bbf4;
